.header {
    padding: 10px;
    border-radius: 0 0 30px 30px;
}

.header h1 {
    font-size: 35px;
    color: white;
}

.page {
    margin: 50px;
    margin-top: 100px;
    padding: 100px;
}

.items {
    padding: 10px;
}

.inputArea {
    margin: 10px;
}
.input-group input{
    margin-right: 10px;
}

.graphs {
    margin: 10px;
    padding: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
}